.navbar {
      width: 100%;
      text-align: center;
      color: rgb(75, 129, 54);
       padding-top: 50px;
       padding-right: 30px;
       padding-bottom: 50px;
       padding-left: 80px;
    }